USE [FinalDB]
GO
/****** Object:  Table [dbo].[AllocationHistory]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllocationHistory](
	[AllocationHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[AllocationStartDate] [date] NOT NULL,
	[AllocationEndDate] [date] NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allocations]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allocations](
	[AllocationID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[AllocationStartDate] [date] NOT NULL,
	[AllocationEndDate] [date] NULL,
	[AllocationPercentage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Allocations_EmployeeProject] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [char](1) NOT NULL,
	[DateOfJoining] [datetime] NOT NULL,
	[Designation] [varchar](50) NOT NULL,
	[ExperienceInYears] [decimal](4, 1) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSkill](
	[EmployeeID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeSkill] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](150) NOT NULL,
	[ClientName] [varchar](150) NOT NULL,
	[Capacity] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[ProjectStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllocationHistory] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Allocations] ADD  CONSTRAINT [DF_Allocations_Percentage]  DEFAULT ((100)) FOR [AllocationPercentage]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_DateOfJoining]  DEFAULT (getdate()) FOR [DateOfJoining]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Allocations]  WITH CHECK ADD  CONSTRAINT [FK_Allocations_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allocations] CHECK CONSTRAINT [FK_Allocations_Employee]
GO
ALTER TABLE [dbo].[Allocations]  WITH CHECK ADD  CONSTRAINT [FK_Allocations_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allocations] CHECK CONSTRAINT [FK_Allocations_Project]
GO
ALTER TABLE [dbo].[EmployeeSkill]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkill_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeSkill] CHECK CONSTRAINT [FK_EmployeeSkill_Employee]
GO
ALTER TABLE [dbo].[EmployeeSkill]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkill_Skill] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeSkill] CHECK CONSTRAINT [FK_EmployeeSkill_Skill]
GO
ALTER TABLE [dbo].[Allocations]  WITH CHECK ADD  CONSTRAINT [CK_Allocations_DateRange] CHECK  (([AllocationEndDate] IS NULL OR [AllocationEndDate]>=[AllocationStartDate]))
GO
ALTER TABLE [dbo].[Allocations] CHECK CONSTRAINT [CK_Allocations_DateRange]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([ExperienceInYears]>=(0)))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Gender]='O' OR [Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD CHECK  (([ProjectStatus]='Inactive' OR [ProjectStatus]='Active'))
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_DateRange] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_DateRange]
GO
/****** Object:  StoredProcedure [dbo].[AssignEmployeeToProject]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AssignEmployeeToProject]
(
    @EmployeeName NVARCHAR(100),
    @ProjectName NVARCHAR(100),
    @AllocationStartDate DATE,
    @AllocationEndDate DATE = NULL,
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN AssignEmpTran;

        -- Get EmployeeID and ProjectID from names
        DECLARE @EmployeeID INT, @ProjectID INT;

        SELECT @EmployeeID = EmployeeID FROM Employees WHERE FullName = @EmployeeName AND IsActive = 1;
        SELECT @ProjectID = ProjectID FROM Projects WHERE ProjectName = @ProjectName;

        -- Validate Employee
        IF @EmployeeID IS NULL
        BEGIN
            SET @ResultCode = 5;
            SET @Message = 'Employee does not exist or inactive';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Validate Project
        IF @ProjectID IS NULL
        BEGIN
            SET @ResultCode = 6;
            SET @Message = 'Project does not exist';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Projects WHERE ProjectID = @ProjectID AND ProjectStatus = 'Inactive')
        BEGIN
            SET @ResultCode = 7;
            SET @Message = 'Cannot allocate: Project is inactive';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Validate dates
        IF @AllocationEndDate IS NOT NULL AND @AllocationEndDate < @AllocationStartDate
        BEGIN
            SET @ResultCode = 4;
            SET @Message = 'AllocationEndDate must be greater than or equal to AllocationStartDate';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Duplicate assignment
        IF EXISTS (SELECT 1 FROM Allocations WHERE EmployeeID = @EmployeeID AND ProjectID = @ProjectID)
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee already assigned to this project';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Overlapping assignments
        IF EXISTS (
            SELECT 1 FROM Allocations
            WHERE EmployeeID = @EmployeeID
              AND (AllocationEndDate IS NULL OR @AllocationEndDate IS NULL 
                   OR AllocationStartDate <= @AllocationEndDate)
              AND (@AllocationStartDate <= ISNULL(AllocationEndDate, @AllocationStartDate))
        )
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Employee has overlapping allocation';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Get project capacity
        DECLARE @ProjectCapacity INT;
        SELECT @ProjectCapacity = Capacity FROM Projects WHERE ProjectID = @ProjectID;

        -- Count current allocations
        DECLARE @CurrentAllocations INT;
        SELECT @CurrentAllocations = COUNT(*) FROM Allocations WHERE ProjectID = @ProjectID;

        -- Check if capacity exceeded
        IF @CurrentAllocations >= @ProjectCapacity
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Project capacity exceeded';
            ROLLBACK TRAN AssignEmpTran;
            RETURN;
        END

        -- Calculate allocation percentage per person
        DECLARE @AllocationPercentage DECIMAL(5,2);
        SET @AllocationPercentage = 100.0 / @ProjectCapacity;

        -- Insert allocation
        INSERT INTO Allocations(EmployeeID, ProjectID, AllocationStartDate, AllocationEndDate, AllocationPercentage)
        VALUES (@EmployeeID, @ProjectID, @AllocationStartDate, @AllocationEndDate, @AllocationPercentage);

        -- ✅ Insert into AllocationHistory
        INSERT INTO AllocationHistory(EmployeeID, ProjectID, AllocationStartDate, AllocationEndDate, ActionDate)
        VALUES (@EmployeeID, @ProjectID, @AllocationStartDate, @AllocationEndDate, GETDATE());

        COMMIT TRAN AssignEmpTran;

        SET @ResultCode = 0;
        SET @Message = 'Employee ' + @EmployeeName + ' assigned to project ' + @ProjectName +
                       ' with ' + CAST(@AllocationPercentage AS NVARCHAR(10)) + '% allocation';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN AssignEmpTran;
        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CountActiveEmployeesAndProjects]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CountActiveEmployeesAndProjects]
AS
BEGIN
    SET NOCOUNT ON;
 
    ---------------------------------------
    -- Count of Active Employees
    ---------------------------------------
    SELECT 
        COUNT(*) AS ActiveEmployeeCount
    FROM Employees
    WHERE IsActive = 1;
 
 
    ---------------------------------------
    -- Count of Active Projects
    ---------------------------------------
    SELECT 
        COUNT(*) AS ActiveProjectCount
    FROM Projects
    WHERE ProjectStatus = 'Active';
END

GO
/****** Object:  StoredProcedure [dbo].[GetActiveProjectDates]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetActiveProjectDates]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ProjectName,
        StartDate,
        EndDate
    FROM Projects
    WHERE ProjectStatus = 'Active';
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllocationHistoryByEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllocationHistoryByEmployee]
(
    @EmployeeID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        AllocationID,
        p.ProjectName,
        AllocationStartDate,
        AllocationEndDate,
        AllocationPercentage
    FROM Allocations a
    INNER JOIN Projects p ON a.ProjectID = p.ProjectID
    WHERE EmployeeID = @EmployeeID
    ORDER BY AllocationStartDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProjects]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProjects]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ProjectID,
        ProjectName,
        ClientName,
        Capacity,
        StartDate,
        EndDate,
        ProjectStatus
    FROM Projects
    ORDER BY StartDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBenchAndProjectCounts]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBenchAndProjectCounts]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Employees in Company (Active)
    DECLARE @TotalEmployees INT = (
        SELECT COUNT(*) FROM Employees WHERE IsActive = 1
    );

    -- Bench Employees (Active but not allocated)
    DECLARE @BenchCount INT = (
        SELECT COUNT(*)
        FROM Employees E
        LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
        WHERE A.EmployeeID IS NULL AND E.IsActive = 1
    );

    -- Project Employees (Active and allocated)
    DECLARE @ProjectCount INT = (
        SELECT COUNT(DISTINCT E.EmployeeID)
        FROM Employees E
        INNER JOIN Allocations A ON E.EmployeeID = A.EmployeeID
        WHERE E.IsActive = 1
    );

    SELECT 
        @BenchCount AS BenchCount,
        @ProjectCount AS ProjectCount,
        @TotalEmployees AS TotalEmployees;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBenchBySkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBenchBySkill]
AS
BEGIN
    SELECT 
        COALESCE(S.SkillName, 'No Skill') AS SkillName,
        COUNT(DISTINCT E.EmployeeID) AS BenchCount
    FROM Employees E
    LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
    LEFT JOIN EmployeeSkill ES ON E.EmployeeID = ES.EmployeeID
    LEFT JOIN Skills S ON ES.SkillID = S.SkillID
    WHERE A.EmployeeID IS NULL AND E.IsActive = 1
    GROUP BY COALESCE(S.SkillName, 'No Skill');
END
GO
/****** Object:  StoredProcedure [dbo].[GetBenchEmployees]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBenchEmployees]
AS
BEGIN
    SELECT 
        E.EmployeeID,
        E.FullName,
        E.Email,
        E.Designation,
        COALESCE(E.ExperienceInYears, 0) AS ExperienceInYears,
        COALESCE(S.SkillName, 'No Skill') AS SkillName
    FROM Employees E
    LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
    LEFT JOIN EmployeeSkill ES ON E.EmployeeID = ES.EmployeeID
    LEFT JOIN Skills S ON ES.SkillID = S.SkillID
    WHERE A.EmployeeID IS NULL AND E.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[GetBenchPercentage]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBenchPercentage]
AS
BEGIN
    SELECT 
        CAST(COUNT(CASE WHEN A.EmployeeID IS NULL THEN 1 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS BenchPercentage
    FROM Employees E
    LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
    WHERE E.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesByProject]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeesByProject]
    @ProjectName NVARCHAR(100)
AS
BEGIN
    SELECT e.EmployeeID,
           e.FullName,
           e.Email,
           e.Designation,
           e.ExperienceInYears
    FROM Employees e
    INNER JOIN Allocations pa ON e.EmployeeID = pa.EmployeeID
    INNER JOIN Projects p ON pa.ProjectID = p.ProjectID
    WHERE p.ProjectName = @ProjectName
END
GO
/****** Object:  StoredProcedure [dbo].[GetProjectCapacitySummary]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProjectCapacitySummary]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Capacity (Active Projects Only)
    DECLARE @TotalCapacity INT = (
        SELECT SUM(Capacity) FROM Projects WHERE ProjectStatus = 'Active'
    );

    -- Total Assigned Employees (Active Projects Only)
    DECLARE @TotalAssigned INT = (
        SELECT COUNT(*) 
        FROM Allocations A
        INNER JOIN Projects P ON A.ProjectID = P.ProjectID
        WHERE P.ProjectStatus = 'Active'
    );

    -- Project-wise details for Active Projects
    SELECT 
        P.ProjectName,
        COUNT(A.EmployeeID) AS Assigned,
        P.Capacity
    FROM Projects P
    LEFT JOIN Allocations A ON P.ProjectID = A.ProjectID
    WHERE P.ProjectStatus = 'Active'
    GROUP BY P.ProjectName, P.Capacity;

    -- Totals in second result set
    SELECT 
        @TotalAssigned AS TotalAssigned,
        @TotalCapacity AS TotalCapacity;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddEmployee]
(
    @FullName            VARCHAR(100),
    @Email               VARCHAR(150),
    @Phone               VARCHAR(20),
    @Gender              CHAR(1),
    @Designation         VARCHAR(50),
    @ExperienceInYears   DECIMAL(4,1),

    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT,
    @NewEmployeeID INT OUTPUT
)
AS
BEGIN
    

    BEGIN TRY
        BEGIN TRAN AddEmployeeTran;

        -- Validation: Email must be unique
        IF EXISTS (SELECT 1 FROM Employees WHERE Email = @Email)
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Duplicate email. Employee already exists.';
            ROLLBACK TRAN AddEmployeeTran;
            RETURN;
        END

        -- Validation: Gender
        IF (@Gender NOT IN ('M','F','O'))
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Invalid gender.';
            ROLLBACK TRAN AddEmployeeTran;
            RETURN;
        END

        -- Validation: Experience
        IF (@ExperienceInYears < 0)
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Experience cannot be negative.';
            ROLLBACK TRAN AddEmployeeTran;
            RETURN;
        END

        INSERT INTO Employees
        (
            FullName, Email, Phone, Gender, Designation, ExperienceInYears
        )
        VALUES
        (
            @FullName, @Email, @Phone, @Gender, @Designation, @ExperienceInYears
        );

        SET @NewEmployeeID = SCOPE_IDENTITY();

        COMMIT TRAN AddEmployeeTran;

        SET @ResultCode = 0;
        SET @Message = 'Employee inserted successfully.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN AddEmployeeTran;

        SET @ResultCode = 4;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployeeSkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddEmployeeSkill]
(
    @EmployeeName NVARCHAR(150),
    @SkillName NVARCHAR(150),

    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @EmployeeID INT;
        DECLARE @SkillID INT;

        -- 1. Get EmployeeID from name
        SELECT @EmployeeID = EmployeeID 
        FROM Employees 
        WHERE FullName = @EmployeeName AND IsActive = 1;

        IF @EmployeeID IS NULL
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee not found.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Get SkillID from name
        SELECT @SkillID = SkillID
        FROM Skills
        WHERE SkillName = @SkillName;

        IF @SkillID IS NULL
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Skill not found.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 3. Duplicate check
        IF EXISTS (SELECT 1 FROM EmployeeSkill WHERE EmployeeID = @EmployeeID AND SkillID = @SkillID)
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Skill already assigned to this employee.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 4. Insert
        INSERT INTO EmployeeSkill (EmployeeID, SkillID)
        VALUES (@EmployeeID, @SkillID);

        COMMIT TRANSACTION;

        SET @ResultCode = 0;
        SET @Message = 'Skill added successfully.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ResultCode = 4;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddSkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddSkill]
    @SkillName NVARCHAR(100),
    @Description NVARCHAR(250),
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT,
    @SkillID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validation
        IF LEN(ISNULL(@SkillName, '')) = 0
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Skill name cannot be empty';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Unique check
        IF EXISTS(SELECT 1 FROM Skills WHERE SkillName = @SkillName)
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Skill already exists';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insert
        INSERT INTO Skills (SkillName, Description)
        VALUES (@SkillName, @Description);

        -- RETURN NEW ID
        SET @SkillID = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SET @ResultCode = 0;
        SET @Message = 'Skill added successfully';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
        SET @SkillID = NULL;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AssignEmployeeToProject]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AssignEmployeeToProject]
(
    @EmployeeID INT,
    @ProjectID INT,
    @AllocationStartDate DATE,
    @AllocationEndDate DATE,

    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN AllocationTran;

        -- 1. Employee exists
        IF NOT EXISTS (SELECT 1 FROM Employees WHERE EmployeeID = @EmployeeID AND IsActive = 1)
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee not found or inactive.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 2. Project exists
        IF NOT EXISTS (SELECT 1 FROM Projects WHERE ProjectID = @ProjectID AND ProjectStatus = 'ACTIVE')
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Project not found or inactive.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 3. EndDate must be >= StartDate
        IF @AllocationEndDate < @AllocationStartDate
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'AllocationEndDate must be after start date.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 4. Duplicate assignment
        IF EXISTS (SELECT 1 FROM Allocations WHERE EmployeeID = @EmployeeID AND ProjectID = @ProjectID)
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Employee already assigned to this project.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 5. Overlapping assignment check
        IF EXISTS (
            SELECT 1 
            FROM Allocations A
            WHERE A.EmployeeID = @EmployeeID
            AND (
                (A.AllocationEndDate IS NULL OR A.AllocationEndDate >= @AllocationStartDate)
                AND (@AllocationEndDate IS NULL OR A.AllocationStartDate <= @AllocationEndDate)
            )
        )
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Employee has overlapping project allocation.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 6. Capacity check
        DECLARE @CurrentCount INT = (
            SELECT COUNT(*) FROM Allocations WHERE ProjectID = @ProjectID
        );

        DECLARE @Capacity INT = (
            SELECT Capacity FROM Projects WHERE ProjectID = @ProjectID
        );

        IF @CurrentCount >= @Capacity
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Project capacity full.';
            ROLLBACK TRAN AllocationTran;
            RETURN;
        END

        -- 7. Calculate AllocationPercentage automatically
        DECLARE @AllocationPercentage INT = CAST(100.0 / @Capacity AS INT);

        -- 8. Insert allocation
        INSERT INTO Allocations
        (EmployeeID, ProjectID, AllocationStartDate, AllocationEndDate, AllocationPercentage)
        VALUES
        (@EmployeeID, @ProjectID, @AllocationStartDate, @AllocationEndDate, @AllocationPercentage);

        COMMIT TRAN AllocationTran;

        SET @ResultCode = 0;
        SET @Message = CONCAT('Employee assigned to project with ', @AllocationPercentage, '% allocation.');
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN AllocationTran;
        SET @ResultCode = 4;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AssignSkillToEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AssignSkillToEmployee]
    @EmployeeName NVARCHAR(100),
    @SkillName NVARCHAR(100),
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION tr_AssignSkill;

        DECLARE @EmployeeID INT, @SkillID INT;

        -- Resolve EmployeeID
        SELECT @EmployeeID = EmployeeID FROM Employees WHERE FullName = @EmployeeName AND IsActive = 1;
        IF @EmployeeID IS NULL
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee not found or inactive';
            ROLLBACK TRANSACTION tr_AssignSkill;
            RETURN;
        END

        -- Resolve SkillID
        SELECT @SkillID = SkillID FROM Skills WHERE SkillName = @SkillName;
        IF @SkillID IS NULL
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Skill not found';
            ROLLBACK TRANSACTION tr_AssignSkill;
            RETURN;
        END

        -- Prevent duplicate assignment
        IF EXISTS(SELECT 1 FROM EmployeeSkill WHERE EmployeeID = @EmployeeID AND SkillID = @SkillID)
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Skill already assigned to employee';
            ROLLBACK TRANSACTION tr_AssignSkill;
            RETURN;
        END

        -- Insert mapping
        INSERT INTO EmployeeSkill(EmployeeID, SkillID)
        VALUES (@EmployeeID, @SkillID);

        COMMIT TRANSACTION tr_AssignSkill;

        SET @ResultCode = 0;
        SET @Message = 'Skill assigned successfully';
        RETURN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION tr_AssignSkill;

        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
        RETURN;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BenchEmployeesReport]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BenchEmployeesReport]

AS

BEGIN

    SET NOCOUNT ON;
 
    ;WITH ActiveAllocations AS

    (

        SELECT DISTINCT EmployeeID

        FROM Allocations

        WHERE AllocationEndDate IS NULL     -- currently on a project

    )
 
    SELECT 

        E.EmployeeID,

        E.FullName,

        E.Designation,

        E.ExperienceInYears,
 
        -- Combine skills into a comma-separated list

        STUFF((

            SELECT ', ' + S.SkillName

            FROM EmployeeSkill ES

            INNER JOIN Skills S ON ES.SkillID = S.SkillID

            WHERE ES.EmployeeID = E.EmployeeID

            FOR XML PATH(''), TYPE

        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Skills

    FROM Employees E

    LEFT JOIN ActiveAllocations AA ON E.EmployeeID = AA.EmployeeID

    WHERE 

        AA.EmployeeID IS NULL      -- not allocated = bench

        AND E.IsActive = 1         -- active employees only

    ORDER BY E.FullName;

END
 
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteSkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteSkill]
    @SkillName NVARCHAR(100),
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION tr_DeleteSkill;

        DECLARE @SkillID INT;
        SELECT @SkillID = SkillID FROM Skills WHERE SkillName = @SkillName;

        IF @SkillID IS NULL
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Skill not found';
            ROLLBACK TRANSACTION tr_DeleteSkill;
            RETURN;
        END

        -- Optional: Check if skill is mapped to employees
        IF EXISTS(SELECT 1 FROM EmployeeSkill WHERE SkillID = @SkillID)
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Cannot delete: Skill is assigned to employees';
            ROLLBACK TRANSACTION tr_DeleteSkill;
            RETURN;
        END

        -- Perform delete
        DELETE FROM Skills WHERE SkillID = @SkillID;

        -- ✅ Check if any row was deleted
        IF @@ROWCOUNT = 0
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Delete failed: No rows affected';
            ROLLBACK TRANSACTION tr_DeleteSkill;
            RETURN;
        END

        COMMIT TRANSACTION tr_DeleteSkill;

        SET @ResultCode = 0;
        SET @Message = 'Skill deleted successfully';
        RETURN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION tr_DeleteSkill;

        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
        RETURN;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllEmployees]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.EmployeeID,
        e.FullName,
        e.Email,
        e.Phone,
        e.Gender,
        e.DateOfJoining,
        e.Designation,
        e.ExperienceInYears,
        e.IsActive,
        SkillsAgg.Skills,
        SkillIDsAgg.SkillIDs
    FROM Employees AS e
    OUTER APPLY (
        SELECT
            STRING_AGG(s.SkillName, ', ') WITHIN GROUP (ORDER BY s.SkillName) AS Skills
        FROM EmployeeSkill es
        INNER JOIN Skills s
            ON s.SkillID = es.SkillID
        WHERE es.EmployeeID = e.EmployeeID
    ) AS SkillsAgg
    OUTER APPLY (
        SELECT
            STRING_AGG(CONVERT(varchar(10), s.SkillID), ',') WITHIN GROUP (ORDER BY s.SkillName) AS SkillIDs
            -- Note: Using same ORDER BY as above to keep deterministic pairing order
        FROM EmployeeSkill es
        INNER JOIN Skills s
            ON s.SkillID = es.SkillID
        WHERE es.EmployeeID = e.EmployeeID
    ) AS SkillIDsAgg;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllSkills]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllSkills]
AS
BEGIN

    BEGIN TRY
        BEGIN TRANSACTION SP_GetAllSkills_Tran;

        -- Validation: Check if Skills table exists
        IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'Skills')
        BEGIN
            -- Raise custom error
            RAISERROR('Skills table does not exist.', 16, 1);
            ROLLBACK TRANSACTION SP_GetAllSkills_Tran;
            RETURN;
        END

        -- Select all skills
        SELECT SkillID, SkillName, Description
        FROM Skills
        ORDER BY SkillName;

        COMMIT TRANSACTION SP_GetAllSkills_Tran;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION SP_GetAllSkills_Tran;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Optionally, return ResultCode and Message if you want output parameters
        RAISERROR('Error in SP_GetAllSkills: %s', 16, 1, @ErrorMessage);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSkillsByEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSkillsByEmployee]
    @EmployeeName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Get EmployeeID from EmployeeName
    DECLARE @EmployeeID INT;
    SELECT @EmployeeID = EmployeeID
    FROM Employees
    WHERE FullName = @EmployeeName AND IsActive = 1;

    -- Validate Employee exists
    IF @EmployeeID IS NULL
    BEGIN
        RAISERROR('Employee not found or inactive', 16, 1);
        RETURN;
    END

    -- Fetch skills for the employee
    SELECT s.SkillID, s.SkillName, s.Description
    FROM EmployeeSkill es
    INNER JOIN Skills s ON es.SkillID = s.SkillID
    WHERE es.EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveSkillFromEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RemoveSkillFromEmployee]
    @EmployeeName NVARCHAR(100),
    @SkillName NVARCHAR(100),
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION tr_RemoveSkill;

        DECLARE @EmployeeID INT, @SkillID INT;

        -- Resolve EmployeeID
        SELECT @EmployeeID = EmployeeID FROM Employees WHERE FullName = @EmployeeName AND IsActive = 1;
        IF @EmployeeID IS NULL
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee not found or inactive';
            ROLLBACK TRANSACTION tr_RemoveSkill;
            RETURN;
        END

        -- Resolve SkillID
        SELECT @SkillID = SkillID FROM Skills WHERE SkillName = @SkillName;
        IF @SkillID IS NULL
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Skill not found';
            ROLLBACK TRANSACTION tr_RemoveSkill;
            RETURN;
        END

        -- Validate mapping exists
        IF NOT EXISTS(SELECT 1 FROM EmployeeSkill WHERE EmployeeID = @EmployeeID AND SkillID = @SkillID)
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Skill mapping not found for employee';
            ROLLBACK TRANSACTION tr_RemoveSkill;
            RETURN;
        END

        -- Delete mapping
        DELETE FROM EmployeeSkill WHERE EmployeeID = @EmployeeID AND SkillID = @SkillID;

        COMMIT TRANSACTION tr_RemoveSkill;

        SET @ResultCode = 0;
        SET @Message = 'Skill removed successfully';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION tr_RemoveSkill;

        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_Bench]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Report_Bench]
AS
BEGIN

    SELECT 
        E.EmployeeID,
        E.FullName,
        E.Designation,
        E.ExperienceInYears,
        STRING_AGG(S.SkillName, ', ') AS Skills
    FROM Employees E
    LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
    LEFT JOIN EmployeeSkill ES ON E.EmployeeID = ES.EmployeeID
    LEFT JOIN Skills S ON ES.SkillID = S.SkillID
    WHERE A.EmployeeID IS NULL AND E.IsActive = 1
    GROUP BY E.EmployeeID, E.FullName, E.Designation, E.ExperienceInYears;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_ProjectUtilization]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Report_ProjectUtilization]
AS
BEGIN
    SELECT 
        P.ProjectID,
        P.ProjectName,
        P.Capacity,
        COUNT(A.EmployeeID) AS AssignedCount,
        (P.Capacity - COUNT(A.EmployeeID)) AS AvailableSlots
    FROM Projects P
    LEFT JOIN Allocations A ON P.ProjectID = A.ProjectID
    GROUP BY P.ProjectID, P.ProjectName, P.Capacity;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_SkillAvailability]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Report_SkillAvailability]
AS
BEGIN
    SELECT 
        S.SkillID,
        S.SkillName,

        COUNT(CASE WHEN A.EmployeeID IS NULL THEN 1 END) AS AvailableEmployees,
        COUNT(CASE WHEN A.EmployeeID IS NOT NULL THEN 1 END) AS AllocatedEmployees
    FROM Skills S
    LEFT JOIN EmployeeSkill ES ON S.SkillID = ES.SkillID
    LEFT JOIN Employees E ON ES.EmployeeID = E.EmployeeID
    LEFT JOIN Allocations A ON E.EmployeeID = A.EmployeeID
    GROUP BY S.SkillID, S.SkillName;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SetEmployeeStatus]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_SetEmployeeStatus]
    @EmployeeID INT,
    @IsActive BIT,
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Employees WHERE EmployeeID = @EmployeeID)
    BEGIN
        UPDATE Employees
        SET IsActive = @IsActive
        WHERE EmployeeID = @EmployeeID;

        SET @ResultCode = 0;
        SET @Message = 'Status updated successfully';
    END
    ELSE
    BEGIN
        SET @ResultCode = 1;
        SET @Message = 'Employee not found';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEmployee]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateEmployee]
(
    @EmployeeID INT,
    @FullName VARCHAR(100),
    @Email VARCHAR(150),           -- ✅ ADDED
    @Phone VARCHAR(20),
    @Gender CHAR(1),
    @Designation VARCHAR(50),
    @ExperienceInYears DECIMAL(4,1),
 
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN UpdateEmployeeTran;
 
        -- VALIDATE EMPLOYEE EXISTS
        IF NOT EXISTS (SELECT 1 FROM Employees WHERE EmployeeID = @EmployeeID)
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Employee not found.';
            ROLLBACK TRAN UpdateEmployeeTran;
            RETURN;
        END
 
        -- EMAIL VALIDATION
        IF (@Email IS NULL OR LTRIM(RTRIM(@Email)) = '')
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Email is required.';
            ROLLBACK TRAN UpdateEmployeeTran;
            RETURN;
        END
 
        -- OPTIONAL: Email format validation (simple version)
        IF (@Email NOT LIKE '%_@_%._%')
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Invalid email format.';
            ROLLBACK TRAN UpdateEmployeeTran;
            RETURN;
        END
 
        -- GENDER VALIDATION
        IF @Gender NOT IN ('M','F','O')
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Invalid gender value.';
            ROLLBACK TRAN UpdateEmployeeTran;
            RETURN;
        END
 
        -- EXPERIENCE VALIDATION
        IF @ExperienceInYears < 0
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Experience cannot be negative.';
            ROLLBACK TRAN UpdateEmployeeTran;
            RETURN;
        END
 
        -- UPDATE QUERY WITH EMAIL
        UPDATE Employees
        SET FullName = @FullName,
            Email = @Email,             -- ✅ ADDED
            Phone = @Phone,
            Gender = @Gender,
            Designation = @Designation,
            ExperienceInYears = @ExperienceInYears
        WHERE EmployeeID = @EmployeeID;
 
        COMMIT TRAN UpdateEmployeeTran;
 
        SET @ResultCode = 0;
        SET @Message = 'Employee updated successfully.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRAN UpdateEmployeeTran;
 
        SET @ResultCode = 4;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSkill]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateSkill]
    @SkillID INT,
    @SkillName NVARCHAR(100),
    @Description NVARCHAR(250),
    @ResultCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN

    BEGIN TRY
        BEGIN TRANSACTION tr_UpdateSkill;

        -- Validate SkillID exists
        IF NOT EXISTS(SELECT 1 FROM Skills WHERE SkillID = @SkillID)
        BEGIN
            SET @ResultCode = 1;
            SET @Message = 'Skill not found';
            ROLLBACK TRANSACTION tr_UpdateSkill;
            RETURN;
        END

        -- Validate SkillName
        IF LEN(ISNULL(@SkillName, '')) = 0
        BEGIN
            SET @ResultCode = 2;
            SET @Message = 'Skill name cannot be empty';
            ROLLBACK TRANSACTION tr_UpdateSkill;
            RETURN;
        END

        -- Check uniqueness for other skills
        IF EXISTS(SELECT 1 FROM Skills WHERE SkillName = @SkillName AND SkillID <> @SkillID)
        BEGIN
            SET @ResultCode = 3;
            SET @Message = 'Another skill with same name exists';
            ROLLBACK TRANSACTION tr_UpdateSkill;
            RETURN;
        END

        UPDATE Skills
        SET SkillName = @SkillName, Description = @Description
        WHERE SkillID = @SkillID;

        COMMIT TRANSACTION tr_UpdateSkill;

        SET @ResultCode = 0;
        SET @Message = 'Skill updated successfully';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION tr_UpdateSkill;

        SET @ResultCode = -1;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CheckProjectOverlap]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CheckProjectOverlap]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM Projects)
        BEGIN
            RAISERROR('No projects found in database.', 16, 1);
            RETURN;
        END

        ;WITH ProjectDates AS
        (
            SELECT 
                pa.EmployeeID,
                p.ProjectName,
                pa.AllocationStartDate,
                pa.AllocationEndDate
            FROM Allocations pa
            INNER JOIN Projects p ON p.ProjectID = pa.ProjectID
        )
        SELECT 
            A.EmployeeID,
            A.ProjectName,
            DATEDIFF(DAY, A.AllocationStartDate, A.AllocationEndDate) AS OverlapDays
        FROM ProjectDates A
        WHERE A.AllocationStartDate < A.AllocationEndDate;

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeAllocationHistory]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEmployeeAllocationHistory]
(
    @EmployeeID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @EmployeeID IS NULL OR @EmployeeID <= 0
        BEGIN
            RAISERROR('Invalid EmployeeID provided.', 16, 1);
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Employees WHERE EmployeeID = @EmployeeID)
        BEGIN
            RAISERROR('Employee not found.', 16, 1);
            RETURN;
        END

        SELECT 
            pa.EmployeeID,
            p.ProjectName,
            pa.AllocationStartDate,
            pa.AllocationEndDate,
            pa.AllocationPercentage
        FROM Allocations pa
        INNER JOIN Projects p ON p.ProjectID = pa.ProjectID
        WHERE pa.EmployeeID = @EmployeeID;

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeSkillExperience]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEmployeeSkillExperience]
    @EmployeeID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.EmployeeID,
        e.FullName,
        e.Designation,
        e.ExperienceInYears,
        s.SkillName
    FROM dbo.Employees e
    INNER JOIN dbo.EmployeeSkill es ON e.EmployeeID = es.EmployeeID
    INNER JOIN dbo.Skills s ON es.SkillID = s.SkillID
    WHERE e.IsActive = 1
      AND (@EmployeeID IS NULL OR e.EmployeeID = @EmployeeID);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeSkillExperienceGrouped]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEmployeeSkillExperienceGrouped]
    @EmployeeID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.EmployeeID,
        e.FullName,
        e.Designation,
        e.ExperienceInYears,
        STRING_AGG(s.SkillName, ', ') AS Skills
    FROM dbo.Employees e
    INNER JOIN dbo.EmployeeSkill es ON e.EmployeeID = es.EmployeeID
    INNER JOIN dbo.Skills s ON es.SkillID = s.SkillID
    WHERE e.IsActive = 1
      AND (@EmployeeID IS NULL OR e.EmployeeID = @EmployeeID)
    GROUP BY e.EmployeeID, e.FullName, e.Designation, e.ExperienceInYears;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProjectUtilization]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetProjectUtilization]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM Projects)
        BEGIN
            RAISERROR('No projects found.', 16, 1);
            RETURN;
        END

        SELECT 
            p.ProjectID,
            p.ProjectName,
            p.Capacity,
            ISNULL(SUM(pa.AllocationPercentage), 0) AS TotalAllocatedPercentage,
            CAST(
                (ISNULL(SUM(pa.AllocationPercentage), 0) * 100.0) / NULLIF(p.Capacity, 0)
                AS DECIMAL(10,2)
            ) AS UtilizationPercentage
        FROM Projects p
        LEFT JOIN Allocations pa ON pa.ProjectID = p.ProjectID
        GROUP BY p.ProjectID, p.ProjectName, p.Capacity;

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSkillAvailability]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSkillAvailability]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM Skills)
        BEGIN
            RAISERROR('No skills found.', 16, 1);
            RETURN;
        END

        SELECT 
            s.SkillName,
            (SELECT COUNT(*) 
             FROM EmployeeSkill es 
             WHERE es.SkillID = s.SkillID) AS AvailableCount
        FROM Skills s;

    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_Create]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Projects_Create]
(
    @ProjectName NVARCHAR(100),
    @ClientName NVARCHAR(100),
    @Capacity INT,
    @StartDate DATE,
    @EndDate DATE,
    @ProjectStatus NVARCHAR(50),
    @NewProjectID INT OUTPUT,
    @ReturnCode INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if ProjectName already exists
        IF EXISTS (SELECT 1 FROM Projects WHERE ProjectName = @ProjectName)
        BEGIN
            SET @ReturnCode = 2;
            SET @Message = 'ProjectName must be unique.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insert Project
        INSERT INTO Projects (ProjectName, ClientName, Capacity, StartDate, EndDate, ProjectStatus)
        VALUES (@ProjectName, @ClientName, @Capacity, @StartDate, @EndDate, @ProjectStatus);

        SET @NewProjectID = SCOPE_IDENTITY();
        SET @ReturnCode = 0;
        SET @Message = 'Project created successfully.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ReturnCode = -99;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_Deactivate]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Projects_Deactivate]
    @ProjectID   INT,
    @ReturnCode  INT OUTPUT,
    @Message     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Set project status to Inactive
        EXEC dbo.usp_Projects_SetStatus
            @ProjectID = @ProjectID,
            @ProjectStatus = 'Inactive',
            @ReturnCode = @ReturnCode OUTPUT,
            @Message = @Message OUTPUT;

        -- Step 2: If status update was successful, check if project is inactive
        IF @ReturnCode = 0
        BEGIN
            DECLARE @CurrentStatus NVARCHAR(50);

            SELECT @CurrentStatus = ProjectStatus
            FROM dbo.Projects
            WHERE ProjectID = @ProjectID;

            IF @CurrentStatus = 'Inactive'
            BEGIN
                -- Step 3: Insert allocation history before deleting
                INSERT INTO dbo.AllocationHistory
                (
                    EmployeeID,
                    ProjectID,
                    AllocationStartDate,
                    AllocationEndDate,
                    ActionDate
                )
                SELECT 
                    EmployeeID,
                    ProjectID,
                    AllocationStartDate,
                    GETDATE(),           -- End date is now
                    GETDATE()
                   -- Action timestamp
                FROM dbo.Allocations
                WHERE ProjectID = @ProjectID;

                -- Step 4: Delete employee allocations for this project
                DELETE FROM dbo.Allocations
                WHERE ProjectID = @ProjectID;

                -- Update message
                SET @Message = CONCAT(@Message, ' | Employee allocations removed and history recorded.');
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SET @ReturnCode = 1;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_GetById]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Get Project by ID
CREATE   PROCEDURE [dbo].[usp_Projects_GetById]
    @ProjectID  INT,
    @ReturnCode INT OUTPUT,
    @Message    NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Projects WHERE ProjectID = @ProjectID)
    BEGIN
        SET @ReturnCode = 3; SET @Message = N'Project not found.';
        RETURN;
    END

    SELECT ProjectID, ProjectName, ClientName, Capacity, StartDate, EndDate, ProjectStatus
    FROM dbo.Projects
    WHERE ProjectID = @ProjectID;

    SET @ReturnCode = 0; SET @Message = N'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_Search]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) Search Projects (filters + paging)
CREATE   PROCEDURE [dbo].[usp_Projects_Search]
    @Status            VARCHAR(20) = NULL,  -- 'Active'|'Inactive'|NULL
    @NameContains      VARCHAR(150) = NULL,
    @StartsOnOrAfter   DATE = NULL,
    @EndsOnOrBefore    DATE = NULL,
    @Page              INT = 1,
    @PageSize          INT = 20,
    @ReturnCode        INT OUTPUT,
    @Message           NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Page < 1 SET @Page = 1;
    IF @PageSize < 1 SET @PageSize = 20;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT ProjectID, ProjectName, ClientName, Capacity, StartDate, EndDate, ProjectStatus
    FROM dbo.Projects
    WHERE (@Status IS NULL OR ProjectStatus = @Status)
      AND (@NameContains IS NULL OR ProjectName LIKE '%' + @NameContains + '%')
      AND (@StartsOnOrAfter IS NULL OR StartDate >= @StartsOnOrAfter)
      AND (@EndsOnOrBefore IS NULL OR EndDate <= @EndsOnOrBefore)
    ORDER BY ProjectID DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

    SET @ReturnCode = 0; SET @Message = N'OK';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_SetCapacity]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6) Set Capacity
CREATE   PROCEDURE [dbo].[usp_Projects_SetCapacity]
    @ProjectID   INT,
    @Capacity    INT,
    @ReturnCode  INT OUTPUT,
    @Message     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON; SET XACT_ABORT ON;
    BEGIN TRY
        IF @Capacity <= 0
            BEGIN SET @ReturnCode = 1; SET @Message = N'Capacity must be > 0.'; RETURN; END

        IF NOT EXISTS (SELECT 1 FROM dbo.Projects WHERE ProjectID = @ProjectID)
            BEGIN SET @ReturnCode = 3; SET @Message = N'Project not found.'; RETURN; END

        BEGIN TRAN;
        UPDATE dbo.Projects SET Capacity = @Capacity WHERE ProjectID = @ProjectID;
        COMMIT TRAN;

        SET @ReturnCode = 0; SET @Message = N'Capacity updated.';
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK TRAN;
        SET @ReturnCode = 4; SET @Message = CONCAT(N'Unhandled error: ', ERROR_MESSAGE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_SetDates]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7) Set Dates
CREATE   PROCEDURE [dbo].[usp_Projects_SetDates]
    @ProjectID   INT,
    @StartDate   DATE,
    @EndDate     DATE,
    @ReturnCode  INT OUTPUT,
    @Message     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON; SET XACT_ABORT ON;
    BEGIN TRY
        IF @StartDate >= @EndDate
            BEGIN SET @ReturnCode = 1; SET @Message = N'StartDate must be < EndDate.'; RETURN; END

        IF NOT EXISTS (SELECT 1 FROM dbo.Projects WHERE ProjectID = @ProjectID)
            BEGIN SET @ReturnCode = 3; SET @Message = N'Project not found.'; RETURN; END

        BEGIN TRAN;
        UPDATE dbo.Projects
        SET StartDate = @StartDate, EndDate = @EndDate
        WHERE ProjectID = @ProjectID;
        COMMIT TRAN;

        SET @ReturnCode = 0; SET @Message = N'Dates updated.';
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK TRAN;
        SET @ReturnCode = 4; SET @Message = CONCAT(N'Unhandled error: ', ERROR_MESSAGE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_SetStatus]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5) Set Status (Active/Inactive)
CREATE   PROCEDURE [dbo].[usp_Projects_SetStatus]
    @ProjectID     INT,
    @ProjectStatus VARCHAR(20),
    @ReturnCode    INT OUTPUT,
    @Message       NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON; SET XACT_ABORT ON;
    BEGIN TRY
        IF @ProjectStatus NOT IN ('Active','Inactive')
            BEGIN SET @ReturnCode = 1; SET @Message = N'ProjectStatus must be Active/Inactive.'; RETURN; END

        IF NOT EXISTS (SELECT 1 FROM dbo.Projects WHERE ProjectID = @ProjectID)
            BEGIN SET @ReturnCode = 3; SET @Message = N'Project not found.'; RETURN; END

        BEGIN TRAN;
        UPDATE dbo.Projects SET ProjectStatus = @ProjectStatus WHERE ProjectID = @ProjectID;
        COMMIT TRAN;

        SET @ReturnCode = 0; SET @Message = N'Status updated.';
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK TRAN;
        SET @ReturnCode = 4; SET @Message = CONCAT(N'Unhandled error: ', ERROR_MESSAGE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Projects_Update]    Script Date: 03-12-2025 11:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) Update Project (partial; only non-null fields are applied)
CREATE   PROCEDURE [dbo].[usp_Projects_Update]
    @ProjectID       INT,
    @ProjectName     VARCHAR(150) = NULL,
    @ClientName      VARCHAR(150) = NULL,
    @Capacity        INT = NULL,
    @StartDate       DATE = NULL,
    @EndDate         DATE = NULL,
    @ProjectStatus   VARCHAR(20) = NULL,
    @ReturnCode      INT OUTPUT,
    @Message         NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON; SET XACT_ABORT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.Projects WHERE ProjectID = @ProjectID)
            BEGIN SET @ReturnCode = 3; SET @Message = N'Project not found.'; RETURN; END

        IF @Capacity IS NOT NULL AND @Capacity <= 0
            BEGIN SET @ReturnCode = 1; SET @Message = N'Capacity must be > 0.'; RETURN; END

        IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL AND @StartDate >= @EndDate
            BEGIN SET @ReturnCode = 1; SET @Message = N'StartDate must be < EndDate.'; RETURN; END

        IF @ProjectStatus IS NOT NULL AND @ProjectStatus NOT IN ('Active','Inactive')
            BEGIN SET @ReturnCode = 1; SET @Message = N'ProjectStatus must be Active/Inactive.'; RETURN; END

        BEGIN TRAN;
        UPDATE dbo.Projects
        SET
            ProjectName   = COALESCE(@ProjectName, ProjectName),
            ClientName    = COALESCE(@ClientName, ClientName),
            Capacity      = COALESCE(@Capacity, Capacity),
            StartDate     = COALESCE(@StartDate, StartDate),
            EndDate       = COALESCE(@EndDate, EndDate),
            ProjectStatus = COALESCE(@ProjectStatus, ProjectStatus)
        WHERE ProjectID = @ProjectID;
        COMMIT TRAN;

        SET @ReturnCode = 0; SET @Message = N'Project updated.';
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK TRAN;
        DECLARE @ErrNum INT = ERROR_NUMBER();
        IF @ErrNum IN (2627, 2601)
            BEGIN SET @ReturnCode = 2; SET @Message = N'ProjectName must be unique.'; END
        ELSE
            BEGIN SET @ReturnCode = 4; SET @Message = CONCAT(N'Unhandled error: ', ERROR_MESSAGE()); END
    END CATCH
END
GO


create PROCEDURE [dbo].[SP_GetAllEmployeesPaged]

(

    @PageNumber INT = 1,

    @PageSize   INT = 10

)

AS

BEGIN

    SET NOCOUNT ON;
 
    -----------------------------------------------------

    -- 1. Compute pagination boundaries

    -----------------------------------------------------

    DECLARE @StartRow INT = (@PageNumber - 1) * @PageSize;
 
    -----------------------------------------------------

    -- 2. Return Total Count

    -----------------------------------------------------

    SELECT COUNT(*) AS TotalCount

    INTO #TotalCountTable

    FROM Employees;
 
    -----------------------------------------------------

    -- 3. Return paginated employee list with skills

    -----------------------------------------------------

    SELECT

        e.EmployeeID,

        e.FullName,

        e.Email,

        e.Phone,

        e.Gender,

        e.DateOfJoining,

        e.Designation,

        e.ExperienceInYears,

        e.IsActive,
 
        SkillsAgg.Skills,

        SkillIDsAgg.SkillIDs,
 
        TotalCount = (SELECT TotalCount FROM #TotalCountTable)
 
    FROM Employees e

    OUTER APPLY (

        SELECT STRING_AGG(s.SkillName, ', ') WITHIN GROUP (ORDER BY s.SkillName) AS Skills

        FROM EmployeeSkill es

        JOIN Skills s ON s.SkillID = es.SkillID

        WHERE es.EmployeeID = e.EmployeeID

    ) SkillsAgg

    OUTER APPLY (

        SELECT STRING_AGG(CONVERT(VARCHAR(10), s.SkillID), ',') WITHIN GROUP (ORDER BY s.SkillName) AS SkillIDs

        FROM EmployeeSkill es

        JOIN Skills s ON s.SkillID = es.SkillID

        WHERE es.EmployeeID = e.EmployeeID

    ) SkillIDsAgg
 
    ORDER BY e.EmployeeID

    OFFSET @StartRow ROWS

    FETCH NEXT @PageSize ROWS ONLY;
 
END

GO

 

 ALTER PROCEDURE [dbo].[usp_Projects_Search]
    @Status            VARCHAR(20) = NULL,  -- 'Active'|'Inactive'|NULL
    @NameContains      VARCHAR(150) = NULL,
    @StartsOnOrAfter   DATE = NULL,
    @EndsOnOrBefore    DATE = NULL,
    @Page              INT = 1,
    @PageSize          INT = 20,
    @ReturnCode        INT OUTPUT,
    @Message           NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
 
    IF @Page < 1 SET @Page = 1;
    IF @PageSize < 1 SET @PageSize = 20;
 
    DECLARE @Offset INT = (@Page - 1) * @PageSize;
 
    ;WITH Filtered AS (
        SELECT 
            ProjectID, ProjectName, ClientName, Capacity, StartDate, EndDate, ProjectStatus
        FROM dbo.Projects
        WHERE (@Status IS NULL OR ProjectStatus = @Status)
          AND (@NameContains IS NULL OR ProjectName LIKE '%' + @NameContains + '%')
          AND (@StartsOnOrAfter IS NULL OR StartDate >= @StartsOnOrAfter)
          AND (@EndsOnOrBefore IS NULL OR EndDate <= @EndsOnOrBefore)
    ),
    Paged AS (
        SELECT *
        FROM Filtered
        ORDER BY ProjectID DESC
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
    )
    SELECT 
        P.ProjectID,
        P.ProjectName,
        P.ClientName,
        P.Capacity,
        P.StartDate,
        P.EndDate,
        P.ProjectStatus,
        ISNULL(AC.Assigned, 0) AS Assigned
    FROM Paged AS P
    OUTER APPLY (
        SELECT COUNT(*) AS Assigned
        FROM dbo.Allocations AS A
        WHERE A.ProjectID = P.ProjectID
    ) AS AC;
 
    SET @ReturnCode = 0;
    SET @Message = N'OK';
END
GO
