__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
pip-wheel-metadata/
*.egg-info/
.ropeproject
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
*.log
*.sqlite3
instance/
.env
.venv
.idea/
.vscode/
Thumbs.db
.DS_Store
*.egg

# VSCode workspace
/.vscode/

# Ignore OS-specific files
desktop.ini
~$*
